<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AppTp1{% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href='/appTp1/'>Home</a></li>
                <li><a href='/appTp1/hello/you'>Hello</a></li>
                <li><a href='/appTp1/contact'>Contact</a></li>
                <li><a href='/appTp1/about'>About</a></li>
                <li><a href='/appTp1/products'>Products</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
