<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AppTp1{% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' name='you' %}">Hello</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'items' %}">Items</a></li>
                <li><a href="{% url 'attributes' %}">Attributes</a></li>
                <li><a href="{% url 'values' %}">Values</a></li>
                <li><a href="{% url 'fournisseurs' %}">Fournisseurs</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
