<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AppTp1{% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav>
            <ul>
                
                <!--
                    <li><a href="{% url 'home' name='you' %}">Hello</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <a href="{% url 'items' %}"><li>Items</li></a>
                    <a href="{% url 'attributes' %}"><li>Attributes</li></a>
                    <a href="{% url 'values' %}"><li>Values</li></a>
                    <a href="{% url 'fournisseurs' %}"><li>Fournisseurs</li></a>
                -->
                <a href="{% url 'home' %}"><li>Accueil</li></a>
                <a href="{% url 'contact' %}"><li>Contact</li></a>
                <a href="{% url 'products' %}"><li>Produits</li></a>
                <a href="{% url 'fournisseurs' %}"><li>Fournisseurs</li></a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><li>Déconnexion</li></a>
                {% else %}
                <a href="{% url 'login' %}"><li>Connexion</li></a>
                <a href="{% url 'register' %}"><li>Inscription</li></a>
                {% endif %}
            </ul>
        </nav>
        {% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
