{% extends 'appTp1/base.html' %}

{% block title %}Detail Fournisseur{% endblock %}

{% block content %}
    <h1>{{ titremenu }}</h1>
    <p><a href="{% url 'fournisseur-update' fournisseur.id %}">Modifier</a> - <a href="{% url 'fournisseur-delete' fournisseur.id %}">Supprimer</a></p>
    <h2>{{ fournisseur.name }}</h2>
{% endblock %}
1>
    <p><a href="{% url 'fournisseur-update' fournisseur.id %}">Modifier</a> - <a href="{% url 'fournisseur-delete' fournisseur.id %}">Supprimer</a></p>
    <h2>{{ fournisseur.name }}</h2>
{% endblock %}
